image: alpine:latest

stages: 
  - generateconfig
  - run

variables:
  mode: "standard-test"

generate-config:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  image: python:withyaml
  stage: generateconfig
  script: chmod 744 generate-ci-config.py && python generate-ci-config.py
  tags:
    - dora
  artifacts:
    paths:
      - generated-config.yml

generated-pipeline:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  stage: run
  trigger:
    include:
      - artifact: generated-config.yml
        job: generate-config
