stages: 
  - run

variables:
  GIT_CHECKOUT: "false"
  GIT_STRATEGY: fetch
  GIT_DEPTH: 0
  dora_system: dora-dev
  use_podman_cache: ""

reset_dora:
  rules:
    - if: '$dora_system == "dora-dev" && $CI_PIPELINE_SOURCE == "web"'
      variables:
        id_google: ${google_id_env_ci}
        secret_google: ${google_secret_env_ci}
    - if: '$dora_system == "dora" && $CI_PIPELINE_SOURCE == "web"'
      variables:
        id_google: ${google_id_env_dora}
        secret_google: ${google_secret_env_dora}
  stage: run
  script:
    - cd /home/podman/dora
    - git fetch origin
    - git checkout $CI_COMMIT_BRANCH
    - git pull origin $CI_COMMIT_BRANCH
    - sed -i 's/google_id_env_ci/'${id_google}'/' .env
    - sed -i 's/google_secret_env_ci/'${secret_google}'/' .env
    - podman-compose -f podman-compose.yml stop webapp
    - podman rm dora-webapp
    - podman-compose -f podman-compose.yml build ${use_podman_cache}webapp
    - podman-compose -f podman-compose.yml up -d
    - sleep 3
    - podman ps -a
  tags:
    - ${dora_system}
